body{
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

main{
    flex: auto;
}

nav{
   background-color:cadetblue;
}

footer.page-footer{
    background-color:cadetblue;
}

body{
    background-color: #E5E0E0;
}

.posts{
    font-family: 'Indie Flower', cursive;
    font-size: 25px;
}

#friendsList{
    float: right;
    max-width: 700px;
    display: inline;
}

#chat{
    max-width: 700px;
    padding: 0px;
    
}

.Div{
    display:block;
    float: left;
}

.Div1{
    float: right;
    display:block;
}

.name-form{
    max-width: 700px;
}
