<template name="Applicationlayout">
    <header>
        <title>Beans</title>
        <link href="http://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
        <link href='https://fonts.googleapis.com/css?family=Indie+Flower' rel='stylesheet' type='text/css'>
    </header>

    <body>
        <header>
            <nav role="navigation">
                <div class="nav-wrapper container">
                    <a href="/" id="logo-container" class="brand-logo">Chatroom</a>
                    <ul class="right hide-on-med-and-down">
                        <li>{{> loginButtons align=right}}</li>
                    </ul>
                </div>
            </nav>
        </header>
        {{> yield}}
    </body>
</template>