<template name="home">
    {{#if currentUser}}
    <form class="name-form">
        <div class="input-field">
            <input name="firstname" type="text" class="form-control" placeholder="TYPE">
        </div>
        <button class="btn waves-effect waves-light" type="submit" name="action" style="margin-left: 248px">Submit
            <i class="material-icons right">send</i>
        </button>
    </form>
    <div class="Div">
        <ul class="card-panel" id="chat">
            {{#each posts}}
            <li class="posts">{{username}}: {{name}}</li>
            {{/each}}
        </ul>
    </div>
    <div align="right" class="Div1">
        <ul class="card-panel" id="friendsList">
            {{>friends}}
        </ul>
    </div>
    {{else}}
    <div class="container">
        <div class="section">
            <div class="card-panel">
                <h2>Please signup or Login to continue.</h2>
            </div>
        </div>
    </div>
    {{/if}}
</template>
<template class="box" name="friends">
    <div class="container">
        <div class="section" style="width: 350px; margin-right: 200px; text-align: center">
            <div class="card-panel">
                <h2 class="txt">Friends List</h2>
            </div>
        </div>
    </div>
    <table>
        <thead>
            <tr>
                {{#each listUser}}
                <p id="userNameOnList">{{username}}</p>
                {{/each}}
            </tr>
        </thead>
    </table>
</template>